<%- include("../partials/header.ejs")%>
<div id="bodyFormatNT" class="wrap thinFormat">	
    <div class="row1 dt columns12">
        <div class="col-12 wideColumn ip ls">
          <br style="content:'';display:inline-block;width:100%;height:15px;">
          <!-- header ends -->
    
<div class="container">
                <div class="aj"><p><strong>Mittal Plastic Industries</strong> was setup in the year 2007 in Bhiwani (Haryana). Under the guidance of <strong>Mr. Rakesh Mittal</strong>, the proficient Owner of the enterprise, the company has achieved sky-scrapping heights in the industry. The company has become a celebrated&nbsp;<span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify;">&nbsp;PP Granules, HDPE Granules &amp; PPCP Granules</span>&nbsp;Manufacturer and Supplier in India.</p><br>
<p><strong>Infrastructure :</strong></p><br>
<p>The company is backed by a sophisticated manufacturing unit, which is spread over an area of 2000 square yards. This unit is well-equipped with all the advanced and efficient facilities that aid us in achieving the production capacity of 200 ton / month.</p><br>
<p><strong>Quality Assurance :</strong></p><br>
<p>Being a quality-conscious firm, the company lays special emphasis upon ensuring the higher standards of Plastic Granules. For this, the Plastic Granules are lab tested as per set industrial standards, at every stage starting from procurement of plastic scrap to final dispatch of products.</p><br>
<p><strong>Why Choose Us?</strong></p><br>
<p>Leveraging to the following, the company has attained unparallel success for itself in the domain:</p><br>
<ul>
<li>Matchless Plastic Granules</li>
<li>Customization option</li>
<li>Competitive prices</li>
<li>Eco-friendly &amp; efficient products</li>
<li>Experienced team</li>
</ul><br>
<p>The Plastic Granules are delivered to the customers within stipulated timeframe.</p></div>
                <p class="cb">&nbsp;</p>
                <br>
    <br>
    <table class="w100 formTable">
        <tbody><tr> 
        <td class="headVr w40 ar b p5px">Name of Owner</td> 
        <td class="data p5px">Mr. Rakesh Mittal</td> 
        </tr>
        <tr> 
        <td class="headVr w40 ar b p5px">Year of Establishment</td> 
        <td class="data p5px">2007</td> 
        </tr>
        <tr> 
        <td class="headVr w40 ar b p5px">Nature of Business</td> 
        <td class="data p5px">Manufacturer &amp; Supplier</td> 
        </tr>
        <tr> 
        <td class="headVr w40 ar b p5px">Number of Employees</td> 
        <td class="data p5px">30</td> 
        </tr>
        <tr> 
        <td class="headVr w40 ar b p5px">Market Covered</td> 
        <td class="data p5px">Domestic</td> 
        </tr>
    </tbody></table><br>
    <!-- footer -->
      </div>
      </div>
</div>
      </div>
    
<%- include("../partials/footer.ejs")%>