<%- include("../partials/header.ejs")%>
<div class="contact2 text-center">
    <h1 class="display-1 hgfd">Contact Us</h1>
</div>
<div class="container">
<div class="row">
    
        <div class="col-sm-12 col-md-6   ">
            <div class="contact_info large ">
              <h4>Head Office Address</h4>
                <li><i class="fa fa-map-marker xlarge" aria-hidden="true"></i> LOC : Uttam Nagar, Loharu Road, Loharu, Bhiwani, Haryana,India - 127021</li>
                        <li><i class="fa fa-mobile xxxlarge" aria-hidden="true"></i> TEL : +91-9215144541, +91-9255937272</li>
                       
                            <li><i class="fa fa-envelope kj" aria-hidden="true"></i> <a href="mailto:mpibhiwani@gmail.com"><span class="lgwhite">Email </span>: brplasticindustries@gmail.com</li>
                  
                                <li><i class="fa fa-desktop kj" aria-hidden="true"></i> <a href="http://www.mpibhiwani.com" target="_blank" title=" WWW.BRPLASTICINDUSTRIES.COM"><span class="lgwhite">WEB </span>: WWW.BRPLASTICINDUSTRIES.COM</a></li>
                  <div class="col-9 text-center my-5">
                <a href="https://www.google.com/maps/place/B+R+PLASTIC+INDUSTRIES+PRIVATE+LIMITED/@28.7785532,76.1186001,15z/data=!4m5!3m4!1s0x0:0xf523495adda22091!8m2!3d28.7785532!4d76.1186001">  <img alt="Responsive-image" class="img-thumbnail mt-5 mr-5" src="https://i.ibb.co/ySb02yB/Shared-Screenshot.jpg"> </a>
                  </div>
                              
                </div>
         </div>
               
         
        <div class="col-sm-12 col-md-6 ">
            <div class="contact_info large ">
                <h4>Regd. Office Address</h4>
                  <li> LOC : HOUSE NO. 70P, MANDI TOWNSHIP
                    BHIWANI-127021, HARYANA, INDIA </li>
                          <li> CIN : U25209HR2020PTC090181 
                          </li>
                         
                              <li> PAN : AAJCB3573H </li>
                      <li> GST : 06AAJCB3573H1ZM </li>
                      <div class="col-9 my-5 text-center">
                      <a href="https://www.google.com/maps/place/B+R+PLASTIC+INDUSTRIES+PRIVATE+LIMITED/@28.7785532,76.1186001,15z/data=!4m5!3m4!1s0x0:0xf523495adda22091!8m2!3d28.7785532!4d76.1186001">  <img alt="Responsive-image" class="img-thumbnail mt-5 mr-5" src="https://i.ibb.co/ySb02yB/Shared-Screenshot.jpg"></a>
                      </div>
                               
                  </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs")%>